<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to my app
  </h1>
  <div class="subtitle-container">
    <h1>
      Buy my stuff
    </h1>
  </div>
</div>
<app-item-catalog></app-item-catalog>

<router-outlet></router-outlet>
