<template>
  <div>
    <ul id="navigation">
      <li v-for="item in nav" :key="item.href"><a :href="item.href ">{{ item.caption }}</a></li>
    </ul>

    <h1>My Webpage</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data() {
    return {
      nav: [{ href: 'www.google.com', caption: 'google' }, { href: 'www.emjones.dev', caption: 'Em Jones' }],
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
