<button (click)="toggleBodyFat()">Toggle Body Fat</button>
<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Date</td>
      <td>Weight</td>
      <td *ngIf="config.showBodyFat">Body Fat</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of entries">
      <td>{{ entry.id }}</td>
      <td>{{ entry.date | date }}</td>
      <td>{{ entry.weight }} lbs</td>
      <td *ngIf="config.showBodyFat">{{ entry.bodyFat | percent}}</td>
    </tr>
  </tbody>
</table>
<app-entry-form [showBodyFat]="config.showBodyFat" (create)="createEntry($event)"></app-entry-form>
