/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/css/bulma.css";
@import "./app/app.component.scss";

body {
  font-size: 100%;
}

$primary-color: #3E5A97;

h1,
h2,
h3 {
  color: $primary-color;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.subtitle-container {
  background-color: $primary-color !important;
  width: 100%;

  h1 {
    color: white !important;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 95%;
  }
}

@include app-mixin ($primary-color)
