<form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Screen Name" id="screen-name" name="screen-name" formControlName="screenName">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select" formControlName="selectedChatRoom">
      <mat-option *ngFor="let chatRoom of chatRooms" [value]="chatRoom">{{ chatRoom }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button type="submit">Submit</button>
</form>
