<div class="card-content">
  <div class="media">
    <app-card-icon [icon]="icon"></app-card-icon>
    <app-card-title [cardTitle]="title"></app-card-title>
  </div>

  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
