<form #entryForm="ngForm">
  <label for="weight">Weight</label>
  <input id="weight" name="weight" type="number" [(ngModel)]="model.weight" required />

  <label *ngIf="showBodyFat" for="bodyFat">Body Fat</label>
  <input *ngIf="showBodyFat" id="bodyFat" name="bodyFat" type="number" [(ngModel)]="model.bodyFat" required />

  <label for="date">Date</label>
  <input type="date" name="date" [(ngModel)]="model.date" id="date" />
  <button (click)="createEntry()">Create</button>
</form>
