<app-conversation></app-conversation>
<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Textarea" [formControl]="chatText"></textarea>
</mat-form-field>
<button mat-button (click)="onSubmit()">Submit</button>
