<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
  <mat-toolbar color="primary">
    <span>Em Chat</span>
    <span class="example-spacer"></span>
    <button *ngIf="isValid" routerLink="/chat" routerLinkActive="active" mat-button>
      <mat-icon>chat</mat-icon>
      Chat
    </button>
    <button routerLink="/register" routerLinkActive="active" mat-button>
      <mat-icon class="example-icon">payment</mat-icon>
      Register
    </button>
  </mat-toolbar>
</nav>
<ng-content></ng-content>
