<section class="hero">
  <div class="hero-body">
    <app-container>
      <app-hero-title [text]=title></app-hero-title>
      <app-hero-subtitle [text]=subtitle></app-hero-subtitle>
    </app-container>
  </div>
</section>
