<app-nav>

</app-nav>
<a [routerLink]="['/home']">Back</a>
<div>
  Entry Id: {{ entry.id }}
</div>
<div>
  Entry Weight: {{ entry.weight }}
</div>
<div>
  Entry Body Fat: {{ entry.bodyFat }}
</div>
<div>
  Entry date: {{ entry.date | date }}
</div>
