<mat-menu #appMenu="matMenu">
  <button mat-menu-item *ngFor="let chatRoom of chatRooms" (click)="switchChatRoom($event)" [value]="chatRoom">
    {{ chatRoom }}
  </button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon></mat-icon>
  {{ currentUser.selectedChatRoom }}
</button>

<mat-list>
  <mat-list-item *ngFor="let chat of chats" class="chat-item" [ngClass]="{'current-user': chat.screenName === currentUser.screenName}">
    <p>{{ chat.message }} </p>
    <div [ngClass]="chat.screenName === currentUser.screenName ? 'time-right' : 'time-left'">
      {{ chat.timestamp | date:'short' }}
    </div>
    <div>
      From: {{ chat.screenName }}
    </div>
  </mat-list-item>
</mat-list>
