/* Chat chat-items */
.mat-list-item.chat-item {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
}

/* Darker chat chat-item */
.current-user {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.chat-item::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.chat-item img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.chat-item .current-user.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
