<div class="catalog">
  <h2>Items for sale</h2>
  <button (click)="onCheckCart()"></button>
  <div class="flexy">
    <div *ngFor="let item of myCartItems" class="flexy-item">
      <app-sale-item [item]="item" (item$)="onItemDelete(item)"></app-sale-item>
    </div>
  </div>

</div>
