.catalog {
  width: 100%;
  text-align: center;

}

.flexy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

.flexy-item {
  order: 0;
  margin: auto;
  
}
